@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #59549c;
}

::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #59549c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 53, 119);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #59549c;
  border-radius: 10px;
}
